/* =================   banner starts   ================= */
#banner{
    .banner-bg{
        background: url(../images/desktop/image-hero.jpg) no-repeat center / cover;
        position: relative;
        height: 100vh;
        z-index: 1;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .banner-text{
            padding-top: 225px;
            padding-bottom: 145px;
            h1{
                color: #fff;
                font-family: $josefin;
                font-weight: 300;
                font-size: 64px;
                line-height: 64px;
                display: flex;
                flex-direction: column;
                padding: 40px 45px;
                border: 2px solid #fff;
            }
        }
    }
}
/* =================   banner   ends   ================= */ 